.npm-search-page {
  .search-pkg-result {
    .list-group {
      max-height: 50vh;
      overflow: auto;

      button {
        padding: 2px 5px;
      }
    }
  }

  .version-list {
    max-height: 50vh;
    overflow: auto;
  }
}
